body{
    background:#f7d6dc;
    color:#f2f2e1;
}
.navbar{
    border-bottom: 3px solid #1a0207;
    background: #f5538b;
    opacity: 0.7;

}

#home-section{
    background: url("../img/korean-skin-care-routine.jpg")no-repeat center top;
    min-height: 700px;
    background-size:cover;
    background-attachment: fixed;
}

#home-section .dark overlay{
    background:rgba(0.0,0,0.9)
        min-height:800px;
}

#home-section .home-inner{
    padding-top:150px;
    padding-bottom:50px;
    
}
#home-section .fas{
    background:#f7719d;
    color: white;
    padding:4px;
    font-size: 20px;
    border-radius: 5px;
}
.card-body{
    background-color: #f898b2;
    min-height: 50px;
    border-radius: 6px;
}
    
